<!-- testimonials.component.html -->
<div class="site-section">
    <div class="container">
      <div class="row">
        <div class="title-section text-center col-12">
          <h2 class="text-uppercase">Testimonials</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div *ngFor="let testimonial of testimonials" class="testimony">
            <blockquote>
              <img [src]="testimonial.image" alt="Image" class="img-fluid w-25 mb-4 rounded-circle">
              <p>{{ testimonial.text }}</p>
            </blockquote>
            <p>&mdash; {{ testimonial.author }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  
